.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-bottom {
  vertical-align: bottom;
}

.text-align-center {
  text-align: center;
}

.center-displayed {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto }

.minHeight-200 {
  min-height: 200px;
}

.minHeight-130 {
  min-height: 130px;
}

.minHeight-300 {
  min-height: 300px;
}

.minHeight-50 {
  min-height: 50px;
}

.padding-top-25 {
  padding-top: 25px;
}

.minHeight-700 {
  min-height: 700px;
}

.white-font {
  color: white;
}

.width-2px {
  max-width: 2px;
}

.ontop {
  top: 4.7em;
}

.white-trans-bg {
  background-color: white;
  opacity: 0.6;
}

.font-16 {
  font-size: 16px;
}
