.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-bottom {
  vertical-align: bottom;
}

.text-align-center {
  text-align: center;
}

.vertical-center {
  vertical-align: center;
}

.center-displayed {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto }

.minHeight-200 {
  min-height: 200px;
}

.minHeight-130 {
  min-height: 130px;
}

.minHeight-300 {
  min-height: 300px;
}

.minHeight-50 {
  min-height: 50px;
}

.padding-top-25 {
  padding-top: 25px;
}

.minHeight-700 {
  min-height: 700px;
}

.white-font {
  color: white;
}

.width-2px {
  max-width: 2px;
}

.white-trans-bg {
  background-color: #fff;
  background-color: rgba(255,255,255,0.5)
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.font-12 {
  font-size: 12px;
}

.rem-4 {
  min-width: 40px;
}

.pad-6px {
  padding: 6px !important;
}

.border-right {
  border-right: 1px solid #ccc;  
}

.table td {
  text-align: center !important;
} 

.text-align-center.minHeight-50 {
  height: 100px;
  background-size: auto;
}

.heigth-100 {
  height: 20px;
}

.width-80 {
  min-width: 60px;
  max-width: 80px;
}

.opa-1 {
  opacity: 1 !important
}

.div.chore-card.card.text-dark {
  opacity: 1 !important
}
/* for column: border-top: 1px solid #dee2e6; */